NEXT_PUBLIC_SUPABASE_URL=https://rrlmoiexmcbiywaucvnk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJybG1vaWV4bWNiaXl3YXVjdm5rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2MTgyNjgsImV4cCI6MjA5MjE5NDI2OH0.ZHKQk_ofVKoi0nxW-3H82y0IoEx7fij9xWrQqdqizWw
